<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width"
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-cosmo.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script defer src="/static/js/jquery.min.js"></script>
	<script defer src="/static/js/bootstrap.min.js"></script>
	<script defer src="/static/js/fontawesome-76ecd849fa.min.js"></script>
	<title>LoL Lookup</title>
</head>
<body>
	{% include 'navbar.html' %}

	{% block body %}
	{% endblock %}
</body>
</html>
